

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   @font-face
   {
   	font-family: OpenSans;
   	src: url(../fonts/OpenSans-Regular.ttf);
   }

   @font-face
   {
   	font-family: OpenSansLight;
   	src: url(../fonts/OpenSans-Light.ttf);
   }

   @font-face
   {
   	font-family: PTSans;
   	src: url(../fonts/PT_Sans-Web-Regular.ttf);
   }


   @font-face
   {
   	font-family: OpenSansCond;
   	src: url(../fonts/OpenSans-CondLight.ttf);
   }

   @font-face
   {
    font-family: MerriSans;
    src: url(../fonts/MerriweatherSans-Regular.ttf);
  }

  @font-face
  {
    font-family: MerriSansLight;
    src: url(../fonts/MerriweatherSans-Light.ttf);
  }

  body{

   font-family: OpenSans, sans-serif;
   padding-top: 48px;
   padding-bottom: 100px;
   background-color: #eddbe5;

 }

 h1, h2, h3, h4, h5, h6{

  font-family: "OpenSansLight", sans-serif
}

a{
  color: #772953;
}

a:hover{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

input, button, select, a{
  outline: none;
}


big{
  font-weight: normal;
}

.container{

  background-color: white;
  box-shadow: 0px 0px 12px -1px;
}

.page.container{
  border-radius: 6px;
  padding-bottom: 50px;
}

.navbar .container, .jumbocontainer{
  background-color: transparent;
  box-shadow: none;
}


.form-control{
  border-width: 2px;
  transition: border-color 0.5s;
}


.form-control:focus{
  box-shadow: none;
  border-color: #5c2040;
}

.navbar-brand{

  font-size: 1.5em;
}
.navbar{

 font-family: PTSans ,sans-serif;
 text-transform: uppercase;
 font-size: 1.3em;
 letter-spacing: -1px;
}

.btn{

  font-family: OpenSans, sans-serif;
}



.homepage.jumbotron{

  background: url(../img/home-bg.jpg);
  position : relative;
  padding-top: 100px; 
  top: 0;
  left: 0;
  width: 100%;
  height: 768px;
  margin: 0;
  color: white;
  text-align: center;
}

.homepage.jumbotron h1{


  line-height: 1.2em;
  text-shadow: 0px 0px 2px white;
  margin-bottom: 50px;
}

.homepage.jumbotron p{
  margin-top: 50px;
}

.media{
  margin-top: 25px;
}

i.fa{
 font-size: 1.3em
}

i.fa.small{
 font-size: 1.0em
}

i.fa.left{
  margin-right: 10px;
  
}

i.fa.right{
  margin-left: 10px;
}

.form-row{
  margin-top: 35px;
}

.browse-tabs{
  margin-top: 20px;
}

.nav-tabs>li>a{
  padding-left: 30px;
  padding-right: 30px;
}

.houselist{
  margin-top: 20px;

  
  
  text-align: left;
}

.col3 a.house-grid{
  width: 33%;
}


.col2 a.house-grid{
  width: 49%;

}

.col1 a.house-grid{
  width: 99%;

}

.houselist a.house-grid{
 display: inline-block;
 padding: 20px 5px;
 transition: background .3s;
}

.houselist a.house-grid:hover{
  background: #eee
}

.houselist a.house-grid:hover,
.houselist a.searchresult-row:hover{
  background: #eee
}

.houselist a.house-grid h2,
.houselist a.searchresult-row h2{

  margin-top: 5px;
  font-family: "OpenSans";
  font-size: 25px;
}

.houselist a.house-grid h2 span,
.houselist a.searchresult-row h2 span{
  font-size: 0.8em;
  color: #808080;
}

.houselist a.searchresult-row{
  padding: 10px 5px;
  border: 1px solid #eee;
  display: block;
}

.feat-divider{
  color: #BBBBBB;
}


.row.searchbox{
  margin-top: 50px;
}


.text-divider{

  margin-top: 50px;
  position: relative;
  text-align: center;

}

.text-divider h1{
  position: relative;
  padding-left: 20px; 
  padding-right: 20px;
  background: #fff;
  display: inline-block;
  z-index: 2;
}

.text-divider .divider{
  position: relative;
  left:0;
  right: 0;
  top: -30px;
  height: 40px;
  border-top: 2px solid #ddd;
}

.house-grid img {
 border-radius: 5px;
 margin-left: 12px;
 box-shadow: 2px 2px 2px 0px #7E7E7E;
 background-color: #C29CB0;
}
.customsearchbutton{
  margin-bottom: 100px;
}



header.profile h5{
  font-family: OpenSans, sans-serif
}

.imgslider{
 margin-left:0;
}

.pricetag{
  box-shadow:5px 6px 13px -6px gray;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #eee;
}

.pricetag h2{
  margin-left: 10px;
  margin-top: 10px;
}

.pricetag h2 span{
  font-size: 0.8em;
  color: #808080;
}

.contactbtn{
  margin-top: 10px;
}

.contactform{
  text-align: center;
}

.adlocation{
  padding: 10px;
}

.adlocation img.imgmap{
  padding: 6px;
  box-shadow: 0px 0px 2px 0px gray;
}




.ad_desc p{
  font-size: 1.2em;
  font-family: OpenSans, sans-serif 
}

.adcontent{
  margin-top: 40px;
}

h2.fulladdress{
  display: inline-block;
  margin: 0 20px 0 0;
}

p.fulladdress{
  background: #eee;
  padding: 10px;
  border-left: 5px solid #ccc;
}

button.iconbutton-md{
  margin: 5px;
}

.ratingbox img{
  float: left;
}

.bgicon{
  padding: 10px;
}

.ratingbox header{

  margin-left: 20px;
  float: left;
}

.ratingbox h1{
  margin: 10px 0;
}

.ratingbox{
  margin: 20px
}

img.media-object{
  border: 2px solid #ddd;
}

.comments{
  margin-top: 20px;
  height: 280px;
  overflow: scroll;
}

.comment{
  margin-left: 0;
  padding: 15px
}

.formsection .form-control{
  margin: 20px 0px;
}

.formsection .upload-gallery-single .form-control{
  margin: 0;
}

.formsection .input-group .form-control{
  margin: 0;
}

#gmap_canvas{
  box-shadow: 2px 2px 10px -3px gray;
  height: 300px;
  width: 500px;
  padding: 0;
}

#gmap_canvas img, #map_canvas img{
  max-width: none;
}

.priceinput{
  background: #ddd;
  padding: 10px;
  border-radius: 10px;
}

.upload-gallery-single{
  margin: 10px 0
}

img.just-uploaded{
  box-shadow: 2px 2px 5px -1px
}


.loginrow{
  margin-top: 150px;
}

.loginrow .input-group{
  padding: 0 10px;
  margin-bottom: 10px;
}

.loginrow .bottompanel{

  text-align: center;
  padding: 0 10px;
  margin-bottom: 10px;
}

.loginrow .bottompanel input[type='submit']{

  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.alert-danger {
  color: #FFFFFF;
  background-color: #DA1919;
  border-color: #eed3d7;
}

.alert-info {
  color: #FFFFFF;
  background-color: #007AB8;
  border: none; 
}


#mapModal .modal-body{
  padding-top: 0;
  padding-bottom: 0;
}

#mapModal .modal-footer{
  margin-top: 0;
}

.fixedbtnbar{
  /* width: 400px; */
  display: inline-block;
  margin: 0 auto;
  position: fixed;
  /* background: #eee; */
  z-index: 2000;
  right: 462px;
  margin-top: -8px;
}

i.fa.quote{
  color: #999;
  margin-right: 10px;
  line-height: 26px;
  font-size: 1.9em;
}